<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Admin/components/header}">
<body>
	<div layout:fragment="contentChanges">
		<section class="content">
			<div class="row">
				<div class="col-md-12">
				<div id="messageProduct">
               
             		 </div>
					<!-- general form elements -->
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Product Form</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form role="form" enctype='multipart/form-data' id="formProduct">
							<div class="box-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Tên của sản phẩm</label> <input
										type="text" class="form-control" id="nameProduct"
										placeholder="Nhập tên sản phẩm">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Giá của sản phẩm</label> <input
										type="number" class="form-control" id="priceProduct"
										placeholder="Nhập giá của sản phẩm (VNĐ)" min="1">
								</div>
								<div class="form-group">
									<label>Danh mục sản phẩm</label> <select class="form-control"
										id="selectedCategory">
										
									</select>
								</div>
								<div class="form-group">
									<label>Dành cho</label> <select class="form-control"
										id="selectedSubcategory">
										<option value="1">Nam</option>
										<option value="2">Nữ</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Nhập số lượng sản
										phẩm</label> <input type="number" class="form-control"
										id="quanlityProduct" placeholder="Nhập số lượng sản phẩm" min ="1">
								</div>

								<div class="form-group">
									<label>Ghi Chú</label>
									<textarea class="form-control" rows="3" placeholder="Nhập ghi chú" id="descriptionProduct"></textarea>
								</div>

								<div class="form-group">
									<label for="exampleInputFile">Thêm hình sản phẩm</label> <input
										type="file" id="fileProduct">

									<p class="help-block">Chỉ thêm được 1 hình, nhỏ hơn 3MB (định dạng PNG)</p>
								</div>
							</div>
							<!-- /.box-body -->

							<div class="box-footer productFooter">
								<button type="submit" id="submitProductButton"
									class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Bảng sản phẩm</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div id="example2_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6"></div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="tableProduct"
											class="table table-bordered table-hover dataTable"
											role="grid" aria-describedby="example2_info">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0"
														aria-controls="example2" rowspan="1" colspan="1"
														aria-sort="ascending"
														aria-label="Rendering engine: activate to sort column descending">ID
														Sản Phẩm</th>
													<th class="sorting" tabindex="0" aria-controls="example2"
														rowspan="1" colspan="1"
														aria-label="Browser: activate to sort column ascending">Tên
														sản phẩm</th>
													<th class="sorting" tabindex="0" aria-controls="example2"
														rowspan="1" colspan="1"
														aria-label="Platform(s): activate to sort column ascending">Giá
														sản phẩm</th>
													<th class="sorting" tabindex="0" aria-controls="example2"
														rowspan="1" colspan="1"
														aria-label="Engine version: activate to sort column ascending">Danh
														mục</th>
														
													<th class="sorting" tabindex="0" aria-controls="example2"
														rowspan="1" colspan="1"
														aria-label="CSS grade: activate to sort column ascending">Số
														lượng</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
											<tfoot>

											</tfoot>
										</table>
									</div>
								</div>

							</div>
						</div>
						<!-- /.box-body -->
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>