<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/components/header}">
     
<body>
<div layout:fragment ="contentChanges">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">User</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <form action="/admin/user/add" method="POST" th:object="${acc}">
              <div class="box-body">
               
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label><br>
                   <i style="color:red" th:errors="*{id}"></i>
                  <i style="color:red" th:text="${ktTonTai}"></i>
                  <div th:if="${edit} == false">
                       <input th:field="*{id}" type="text" class="form-control" placeholder="Enter Username">
                  </div>
                  <div th:if="${edit} == true">
                       <input th:field="*{id}" type="text" class="form-control" placeholder="Enter Username" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label><br>
                  <i style="color:red"th:errors="*{password}"></i>
                  <input th:field="*{password}" type="text" minlength="6" class="form-control" placeholder="Enter Password">
                </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">FullName</label><br>
                   <i style="color:red"th:errors="*{fullname}"></i>
                  <input th:field="*{fullname}" type="text" class="form-control" placeholder="Enter FullName">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Phone</label><br>
                   <i style="color:red"th:errors="*{phone}"></i>
                   <i style="color:red" th:text="${ktPhone}"></i>
                  <input th:field="*{phone}" type="number" maxlength="10" class="form-control"  placeholder="Enter Phone">
                </div>
                 <div class="form-group">
                  <label for="exampleInputPassword1">Email</label><br>
                  <i style="color:red"th:errors="*{email}"></i>
                  <i style="color:red" th:text="${ktEmail}"></i>
                  <input th:field="*{Email}" type="email" class="form-control"  placeholder="Enter Email">
                </div>
                 <div >
                  <label for="exampleInputPassword1">Role</label><br>
                   <i style="color:red"th:errors="*{admin}"></i><br>
                  <input th:field="*{admin}" type="radio" name="role" value="false">User&ensp;
                   <input th:field="*{admin}" type="radio"name="role" value="true">Admin
                </div> 
                
                 <div >
                  <label for="exampleInputPassword1">Activated</label><br>
                   <i style="color:red"th:errors="*{activated}"></i><br>
                  <input th:field="*{activated}" type="radio" name="activated" value="true">Activate&ensp;
                   <input th:field="*{activated}" type="radio"name="activated" value="false">Inactivate
                </div>
              </div>
              <!-- /.box-body -->
                      <i style="color:red" th:text="${tb}"></i>
                   <i style="color:red" th:text="${ktItMe}"></i>
              <div class="box-footer">
              
                <div th:if="${edit} == true">
                
               
                <button class="btn btn-primary" disabled>Add</button>
                    <button formaction="/admin/user/update" class="btn btn-primary">Update</button>
                    <button formaction="/admin/user/lock" class="btn btn-primary">Lock</button>
                     <button formaction="/admin/user/new?edit=false" class="btn btn-primary" >Reset</button>
                </div>
                <div th:unless="${edit} == true">
                    
                   <button class="btn btn-primary">Add</button>
                 <button formaction="/admin/user/update" class="btn btn-primary" disabled>Update</button>
                 <button formaction="/admin/user/update" class="btn btn-primary" disabled>Lock</button>
                 <button formaction="/admin/user/new?edit=false" class="btn btn-primary">Reset</button>
                     
                </div>
               
              </div>
            </form>
           
          </div>
  		<div class="box">
            <div class="box-header">
              
               <h3 style="float:right;" class="box-title">
               <form th:action="@{/admin/user/find}" method="post">
                 
                    <input  style="height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;"  name="keywords" th:value="${keywords}" placeholder="Search username">
                 
                  <button   class="btn btn-primary mb-2">Search</button>
               </form>
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
              <div class="row"><div class="col-sm-6">
              </div><div class="col-sm-6">
              </div></div>
              <div class="row"><div class="col-sm-12">
      
              <table id="example" class="table table-bordered table-hover dataTable" width="100%" data-page-length="25" data-order="[[ 1, &quot;asc&quot; ]]">
                <thead>
                 <tr role="row">
                 <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Username</th>
                
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">FullName</th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Phone</th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Email</th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Activated</th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Role</th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"></th>
                 <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"></th>
                 </tr>
                
                </thead>
                <tbody>
                
                
                <tr th:each="Users,iStat :${userPage.content}" role="row" class="odd">
                  <td class="sorting_1">[[${Users.id}]]</td>
                 
                  <td class="sorting_1">[[${Users.fullname}]]</td>
                  <td class="sorting_1">[[${Users.phone}]]</td>
                  <td class="sorting_1">[[${Users.email}]]</td>
                  <div th:if="${Users.activated}==true">
                        <td class="sorting_1">active</td>
                       
                  </div>
                  <div th:unless="${Users.activated}==true">
                        <td class="sorting_1">InActive</td>
                  </div>
                  
                   <div th:if="${Users.admin}==true">
                         <td class="sorting_1">Admin</td>
                    </div>
                  <div th:unless="${Users.admin}==true">
                         <td class="sorting_1">User</td>
                    </div>
                  <td class="sorting_1"><a th:href="@{|/admin/user/edit?user=${Users.id}&edit=true|}">Edit</a></td>
                   
                  
                </tr>
               </tbody>
               
              </table>
              </div>
              </div>
              <div class="row">
              <div class="col-sm-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing [[${userPage.number+1}]] to [[${userPage.totalPages}]] of [[${userPage.totalElements}]] users</div>
              </div>
              <div class="col-sm-7">
               <div>
                <!-- <div th:if="${userPage.number} !=0"> -->
                  <nav aria-label="Page navigation example" 
                  th:if="${userPage.totalPages >0}">
			  <ul class="pagination">
          
			    <li th:class="${1== userPage.number + 1} ? 'page-item disabled ' : 'page-item'">
            <a  th:href="@{|/admin/user?s=${userPage.size}&p =0|}" class="page-link">First</a>
          </li>
        
       
          <li class="page-item active"
          th:each="pageNumber :${pageNumbers}" 
          th:if="${userPage.totalPages > 1}"
          th:class="${pageNumber == userPage.number + 1} ? 'page-item active' : 'page-item'">
          <a  th:href="@{|/admin/user?s=${userPage.size}&p=${pageNumber-1}|}" 
          class="page-link"
          th:text="${pageNumber}"></a>
          </li>

          <li th:class="${userPage.totalPages == userPage.number + 1} ? 'page-item disabled ' : 'page-item'">
            <a  th:href="@{|/admin/user?s=${userPage.size}&p=${userPage.totalPages-1}|}" class="page-link">Last</a>
          </li>
			    
			  </ul>
			</nav>
    <!-- </div> -->

    

			</div>
              </div>
              
              </div>
              </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
		</div>
	</section>
</div>
       
</body>
</html>